@use 'variables.scss' as vars;

header, footer {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5em;  
  padding: 1em;

  background-color: var(--blur-color);
  backdrop-filter: blur(5px);
  z-index: 100;
}

header {
  height: var(--header-height);
  gap: min(1.5em, 1.5vw);

  justify-content: space-between;
  .logo {
    width: 65px;
    height: auto; 
  }
}

.score {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3em;
  .score-value {
    font-size: 1.5em;
    font-weight: bold;
  }

  .score-plus {
    position: absolute;
    right: 0;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;

    &.run-animation {
      animation: score-animation 1s;
      z-index: 999;
    }
  }
}

@keyframes score-animation {
  from {
    opacity: 1;
    transform: translateY(300%);
  }
  to {
    opacity: 0;
    transform: none;
  }
}

footer {
  height: var(--footer-height);
  bottom: 0;
  justify-content: space-around;
  .year {
    margin-right: auto;
    opacity: 0.8;
    user-select: none;
  }
}

@media screen and (min-width: vars.$mobile-breakpoint)  {
  header, footer {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  header {
    width: var(--header-max-width);
    width: max-content;
    border-radius: 0 0 0.5em 0.5em;
    .logo {
          margin-right: 1em;
    }
  }

  footer {
    width: var(--footer-max-width);
    border-radius: 0.5em 0.5em 0 0;
  }
}

